<script type="text/template" id="tmpl-add-product">
	<div class="page-header">
		<div class="page-header-content header-elements-md-inline">
			<div class="breadcrumb">
				<a href="#" class="breadcrumb-item produk-page-nav produk-page-nav__index">PRODUK</a>
				<span class="breadcrumb-item active">
					TAMBAH PRODUK
				</span>
			</div>
		</div>
	</div>
	<!-- /page header -->
	<!-- Content area -->
	<form action="#" class="produk-form">
		<div class="content pt-0">
			<!-- Dashboard content -->
			<div class="row">
				<div class="col-xl-auto">
					<div class="card card-body pb-sm-0 pt-sm-0">
						<ul class="nav nav-tabs nav-tabs-bottom mb-sm-0">
							<li class="nav-item">
								<a href="#produk-deskripsi" class="nav-link active text-left" data-toggle="tab" data-step="1">Deskripsi</a>
							</li>
							<li class="nav-item">
								<a href="#produk-varian" class="nav-link text-left disabled" data-step="2">Varian</a>
							</li>
							<li class="nav-item">
								<a href="#produk-stok-harga" class="nav-link text-left disabled" data-step="3">Stock &amp; Harga</a>
							</li>
							<li class="nav-item">
								<a href="#produk-foto" class="nav-link text-left disabled" data-step="4">Foto</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="tab-content">
				<div class="tab-pane fade show active" id="produk-deskripsi">
					<div class="row">
						<div class="col-md-6">
							<div class="card card-body">
								<div class="form-group">
									<label>Nama Produk:</label>
									<input type="hidden" class="form-control" placeholder="Nama Produk" name="idproduk" value="">
									<input type="text" class="form-control" placeholder="Nama Produk" name="namaproduk" value="">
								</div>
								<div class="form-check form-check-switchery form-check-switchery-double">
									<label class="form-check-label">
										<p class="font-size-lg d-block">Kelola Stock <span class="font-size-sm d-block">Jumlah stock terupdate otomatis</span></p>
										<input type="checkbox" class="form-check-input-switchery" data-fouc name="tipestok">
										<p class="font-size-lg d-block">Non Kelola Stock <span class="font-size-sm d-block">Contoh : Produk Jasa</span></p>
									</label>
								</div>
								<div class="form-group">
									<label>Kategory:</label>
									<div class="row">
										<div class="col-md-6">
											<select class="form-control select produk-kategori" name="idkategoriproduk"></select>
										</div>
										<div class="col-md-6">
											<button type="button" class="btn btn-primary btn-md mr-2 add-kategori"><i class="icon-plus22 mr-2"></i>Kategori</button>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label>Satuan Produk:</label>
									<div class="row">
										<div class="col-md-6">
											<select class="form-control select produk-uom" name="idsatuanproduk"></select>
										</div>
										<div class="col-md-6">
											<button type="button" class="btn btn-primary btn-md mr-2 add-uom"><i class="icon-plus22 mr-2"></i>Satuan</button>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label>Berat Produk (KG):</label>
									<input type="text" class="form-control" placeholder="Berat Produk" name="berat" value="">
								</div>
								<div class="form-group">
									<label>Deskripsi:</label>
									<textarea rows="3" cols="3" class="form-control" placeholder="Deskripsi" name="deskripsiproduk"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="produk-varian" data-uk-produkvarian>
					<div class="row">
						<div class="col-md-3 d-none produk-varianitems-wrapper">
							<div class="card card-body">
								<h5>Varian</h5>
								<div class="produk-varian produk-varian-1">
									<div class="produk-varian-items"></div>
									<button type="submit" class="form-control btn btn-primary add-varian"><i class="icon-plus22 mr-2"></i> Varian</button>
								</div>
							</div>
						</div>
						<div class="col-md-3 d-none produk-varianitems-wrapper">
							<div class="card card-body">
								<h5>Subvarian</h5>
								<div class="produk-varian produk-varian-2">
									<div class="produk-varian-items"></div>
									<button type="submit" class="form-control btn btn-primary add-varian"><i class="icon-plus22 mr-2"></i> Subvarian</button>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="card card-body">
								<div class="form-group">
									<h5>Kombinasi Produk Yang Dihasilkan</h5>
									<div class="table-responsive">
										<table data-uk-kombinasivarian class="table">
											<thead>
												<tr>
													<th></th>
													<th>Nama Produk</th>
													<th>Barcode</th>
												</tr>
											</thead>
											<tbody class="produk-kombinasi-varian"></tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="produk-stok-harga" data-uk-produkstokharga>
					<div class="row">
						<div class="col-md-12">
							<h3>Alokasi produk</h3>
							<div class="card-group-control card-group-control-right" id="produkstokharga-outlets-wrapper">
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="produk-foto" data-uk-produkfoto>
					<div class="form-group row">
						<div class="col-lg-10">
							<div class="form-group">
								<input type="file" multiple="multiple" class="form-control-lg file-input">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="text-right">
				<button type="submit" class="btn btn-danger product-form-prev d-none">Previous</button>
				<a href="#" class="btn btn-danger product-form-cancel produk-page-nav produk-page-nav__index">Cancel</a>
				<button type="submit" class="btn btn-primary product-form-next">
					<span class="d-none title-simpan">Simpan</span> 
					<span class="title-next">Next</span>
				</button>
			</div>
			
		</div>
	</form>
</script>