	<div class="page-header ">
		<div class="page-header-content header-elements-md-inline">
			<div class="page-title d-flex justify-content-center justify-content-md-left">
				<h3 class="">PRODUK > DAFTAR PRODUK</h3>
			</div>
			<div class="btn-toolbar d-flex justify-content-center">
				<button type="button" class="btn d-sm-block btn-primary btn_color_primary btn-md mr-2 aps-add-product" data-uk-productpage_nav="template:add-product;refresh:true;"><img src="daftar_produk2/image/icon/icon_tambah_putih.svg"> Produk</button>
				<button type="button" class="btn btn-primary btn_color_primary btn-md mr-2 aps-export-product">Ekspor</button>
				<button type="button" class="btn btn-success btn-md mr-2 aps-alokasi-outlet" data-uk-alokasi-outlet> Alokasi Outlet</button>
				<button type="button" class="btn btn-danger btn-md mr-2 aps-hapus" data-uk-hapus_produk><i class="icon-trash mr-2"></i>Hapus</button>
				<button type="button" class="btn btn-primary btn-md mr-2 aps-add-product-favorit" data-uk-add_favorit_produk> + Favorit</button>
				<button type="button" class="btn btn-outline-danger btn-md mr-2 aps-delete-product-favorit" data-uk-hapus_favorit_produk><i class="icon-trash mr-2"></i> Hapus Favorit</button>
				<select data-uk-listoutlet class="listoutlet_index d-none"></select>
			</div>
		</div>
	</div>
	<!-- /page header -->
	
	<!-- Content area -->
	<div class="content pt-0">
		<!-- Dashboard content -->
		<div class="row">
			<div class="col-xl-12">
				<div class="table-product-wrapper" data-uk-tableproductwrapper>
					<div class="row align-items-center mb-4">
						<div class="col-md-auto col-sm-6 table-information mb-2">
						</div>
						<div class="col-md-auto col-sm-6 mb-2">
							<div class="form-check form-check-switchery form-check-switchery-double">
								<label class="form-check-label">
									<p class="font-size-lg d-block mb-0 mr-2">Tampilkan </p>
									<select class="form-control table-length">
										<option value="50">50</option>
										<option value="75">75</option>
										<option value="100">100</option>
									</select>
									<p class="font-size-lg d-block mb-0 ml-2"> Hasil</p>
								</label>
							</div>
						</div>
						<div class="col-md col-sm-12 table-pagination">
						</div>
					</div>
					<div class="table-responsive">
						<table id="t_product" data-uk-tableproduct="idoutlet:<?php echo isset( $_SESSION['outletsekarang'] ) ? $_SESSION['outletsekarang'] : 1;?>;" class="table dataTable dtr-inline table--card col-sm-12 tableproduct">
							<thead>
								<tr>
									<th width="5%"></th>
									<th>	
										<div class="row">
												<div class="col-sm-auto">Nama Produk</div>
												<div class="col text-right">
													<a class="up"><i class="icon-arrow-up5"></i></a>
													<a class="down"><i class="icon-arrow-down5"></i></a>
												</div>
												
										</div>
										
									</th>
									<th>
										<div class="row">
											<div class="col-sm-auto">Status Produk</div>
											<div class="col text-right">
												<a class="up"><i class="icon-arrow-up5"></i></a>
												<a class="down"><i class="icon-arrow-down5"></i></a>
											</div>
											
									</div>
										
									</th>
									<th>
										<div class="row">
											<div class="col-sm-auto">Kategori</div>
											<div class="col text-right">
												<a class="up"><i class="icon-arrow-up5"></i></a>
												<a class="down"><i class="icon-arrow-down5"></i></a>
											</div>
											
									</div>
									</th>
									<th>
										<div class="row">
											<div class="col-sm-auto">Stock</div>
											<div class="col text-right">
												<a class="up"><i class="icon-arrow-up5"></i></a>
												<a class="down"><i class="icon-arrow-down5"></i></a>
											</div>
											
									</div>
									</th>
								</tr>
								<tr>
									<th width="5%" class="select-checkbox"></th>
									<th>
										<input data-uk-search type="text" class="param-search form-control" placeholder="Search Produk">
									</th>
									<th>
										<select data-uk-status_produk class="param-status_produk form-control"></select>
									</th>
									<th>
										<select data-uk-kategori class="param-kategori form-control"></select>
									</th>
									<th>
										<select data-uk-stock class="param-stock form-control"></select>
									</th>
								</tr>
								<tr>
									<th width="5%"></th>
									<th>
										<span>Total <span class="thead_totalproduk">...</span> Jenis Produk</span>
									</th>
									<th></th>
									<th></th>
									<th>
										<span>Total <span class="thead_totalstock">...</span></span>
									</th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
				<div class="card card-body">
					<div class="row">
						<div class="col-md-2">
							<img src="global_assets/images/icon/icon-footer-list-produk.svg"/> Daftar Produk
						</div>
						<div class="col-md-2">
							<span class="badge badge-secondary">Upload Produk Massal</span>
						</div>
						<div class="col-md-2">
							<span class="badge badge-secondary">Stock Opname</span>
						</div>
						<div class="col-md-2">
							<span class="badge badge-secondary">Edit Harga</span>
						</div>
						<div class="col-md-2">
							<span class="badge badge-secondary">Kartu Stock</span>
						</div>
						<div class="col-md-2">
							<span class="badge badge-secondary">Print Barcode / QrCode</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<div id="modal-outlet" class="modal fade" data-uk-modal-alokasi-outlet>
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="mb-0">Alokasi Outlet</h5>
			</div>
			<div class="modal-body">
				<div class="row-outlet">
				</div>
				<div class="modal-footer pl-0 pr-0">
					<div class="col-sm-6">
						<button type="button" class="btn btn-danger legitRipple float-left" data-dismiss="modal">Cancel</button>
					</div>
					<div class="col-sm-6 pr-0">
						<button type="button" class="btn bg-primary legitRipple float-right add-alokasi-outlet" data-dismiss="modal">Simpan</button>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.getScript("daftar_produk2/js/produk.js", {
            cache: true
        }).done(function () {
				var param = {};
				param.attribute =
				{
					"idoutlet" : "1"
				}
				produk.init(param);
            });
           
        });
	</script>
