<script type="text/template" id="tmpl-add-product">
	<%
		var args = {
				step: ! _.isUndefined( data.step ) ? data.step : 1,
				action: ! _.isUndefined( data.action ) ? data.action : "add",
				dataProduk: ! _.isUndefined( data.dataProduk ) ? data.dataProduk : "",
			},
			dataProduk = args.dataProduk !== "" 
					? 
				JSON.parse( decodeURI( args.dataProduk ) ) 
					: 
				{
					idproduk:"",
					namaproduk:"",
					tipe:0,
					idkategoriproduk:1,
					idsatuanproduk:2,
					berat:"",
					deskripsiproduk:"",
				};
	%>
	<div class="page-header">
		<div class="page-header-content header-elements-md-inline">
			<div class="breadcrumb">
				<a href="#" class="breadcrumb-item" data-uk-productpage_nav="template:index-product;refresh:false;">PRODUK</a>
				<span class="breadcrumb-item active">
					<% if( args.dataProduk !== "" ){%>
						EDIT PRODUK
					<% } else {%>
						TAMBAH PRODUK
					<% }%>
				</span>
			</div>
		</div>
	</div>
	<!-- /page header -->
	<!-- Content area -->
	<form action="#" data-uk-productform="step:<%=args.step%>;action:<%=args.action%>;data-produk:<%=args.dataProduk%>;">
		<div class="content pt-0">
			<!-- Dashboard content -->
			<div class="row">
				<div class="col-xl-auto">
					<div class="card card-body pb-sm-0 pt-sm-0">
						<ul class="nav nav-tabs nav-tabs-bottom mb-sm-0" data-uk-producttab>
							<li class="nav-item">
								<a href="#produk-deskripsi" class="nav-link active text-left" data-toggle="tab" data-step="1">Deskripsi</a>
							</li>
							<li class="nav-item">
								<a href="#produk-varian" class="nav-link text-left" data-toggle="tab" data-step="2">Varian</a>
							</li>
							<li class="nav-item">
								<a href="#produk-stok-harga" class="nav-link text-left" data-toggle="tab" data-step="3">Stock &amp; Harga</a>
							</li>
							<li class="nav-item">
								<a href="#produk-foto" class="nav-link text-left" data-toggle="tab" data-step="4">Foto</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="tab-content">
				<div class="tab-pane fade show active" id="produk-deskripsi">
					<div class="row">
						<div class="col-md-6">
							<div class="card card-body">
								<div class="form-group">
									<label>Nama Produk:</label>
									<input type="hidden" class="form-control" placeholder="Nama Produk" name="idproduk" value="<%= dataProduk.idproduk %>">
									<input type="text" class="form-control" placeholder="Nama Produk" name="namaproduk" value="<%= dataProduk.namaproduk %>">
								</div>
								<div class="form-check form-check-switchery form-check-switchery-double">
									<label class="form-check-label">
										<p class="font-size-lg d-block">Kelola Stock <span class="font-size-sm d-block">Jumlah stock terupdate otomatis</span></p>
										<input type="checkbox" class="form-check-input-switchery" data-fouc data-uk-switchery name="tipestok" <% if( dataProduk.tipe == 1 ){%> checked <% }%>>
										<p class="font-size-lg d-block">Non Kelola Stock <span class="font-size-sm d-block">Contoh : Produk Jasa</span></p>
									</label>
								</div>
								<div class="form-group">
									<label>Kategory:</label>
									<select class="form-control select" data-uk-selectproductcategory="selected:<%= dataProduk.idkategoriproduk %>;" name="idkategoriproduk"></select>
								</div>
								<div class="form-group">
									<label>Satuan Produk:</label>
									<select class="form-control select" data-uk-selectproductuom="selected:<%= dataProduk.idsatuanproduk %>;" name="idsatuanproduk"></select>
								</div>
								<div class="form-group">
									<label>Berat Produk (KG):</label>
									<input type="text" class="form-control" placeholder="Berat Produk" name="berat" value="<%= dataProduk.berat %>">
								</div>
								<div class="form-group">
									<label>Deskripsi:</label>
									<textarea rows="3" cols="3" class="form-control" placeholder="Deskripsi" name="deskripsiproduk"><%= dataProduk.deskripsiproduk %></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="produk-varian" data-uk-produkvarian>
					<div class="row">
						<div class="col-md-3 d-none produk-varianitems-wrapper">
							<div class="card card-body">
								<h5>Varian</h5>
								<div data-uk-varianitems="id-varian:varian1">
									<div class="produk-varian-items"></div>
									<button type="submit" class="form-control btn btn-primary add-varian"><i class="icon-plus22 mr-2"></i> Varian</button>
								</div>
							</div>
						</div>
						<div class="col-md-3 d-none produk-varianitems-wrapper">
							<div class="card card-body">
								<h5>Subvarian</h5>
								<div data-uk-varianitems="id-varian:varian2">
									<div class="produk-varian-items"></div>
									<button type="submit" class="form-control btn btn-primary add-varian"><i class="icon-plus22 mr-2"></i> Subvarian</button>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="card card-body">
								<div class="form-group">
									<h5>Kombinasi Produk Yang Dihasilkan</h5>
									<div class="table-responsive">
										<table data-uk-kombinasivarian class="table">
											<thead>
												<tr>
													<th></th>
													<th>Nama Produk</th>
													<th>Barcode</th>
												</tr>
											</thead>
											<tbody class="produk-kombinasi-varian"></tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="produk-stok-harga" data-uk-produkstokharga>
					<div class="row">
						<div class="col-md-12">
							<h3>Alokasi produk</h3>
							<div class="produkstokharga-outlets"></div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="produk-foto" data-uk-produkfoto>
					Foto
				</div>
			</div>
			<div class="text-right">
				<button type="submit" class="btn btn-danger product-form-prev d-none">Previous</button>
				<button type="submit" class="btn btn-danger product-form-cancel" data-uk-productpage_nav="template:index-product;refresh:false;">Cancel</button>
				<button type="submit" class="btn btn-primary product-form-next">
					<span class="d-none title-simpan">Simpan</span> 
					<span class="title-next">Next</span>
				</button>
			</div>
			
		</div>
	</form>
</script>