<div id="modal-add-kategori" class="modal fade" data-uk-modal-add-kategori>
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				
			</div>
			<div class="modal-body">
				<div class="form-group">
					<div class="row">
						<div class="col-sm-12">
							<h2>Kategori Baru</h2>
							<input type="text" placeholder="Nama Kategori" class="form-control">
						</div>
					</div>
				</div>
			<div class="modal-footer pl-0 pr-0">
				<div class="col-sm-6">
					<button type="button" class="btn btn-danger legitRipple float-left" data-dismiss="modal">Cancel</button>
				</div>
				<div class="col-sm-6 pr-0">
					<button type="button" class="btn bg-primary legitRipple float-right">Simpan</button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
