<div id="modal-outlet" class="modal fade" data-uk-modal-alokasi-outlet>
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-header">
				<input type="text" id="list_produk">
			</div>
			<div class="modal-body">
				<h5 class="mb-0">Alokasi Outlet</h5>
				<div class="row">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-link legitRipple" data-dismiss="modal">Close</button>
				<button type="button" class="btn bg-primary legitRipple">Save changes</button>
			</div>
		</div>
	</div>
</div>