<div id="modal-add-satuan" class="modal fade" data-uk-addproductuom>
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<div class="modal-body">
				<div class="form-group">
					<div class="row">
						<div class="col-sm-12">
							<h2>Satuan Baru</h2>
							<input type="text" placeholder="Nama Satuan" class="form-control add-uom-input">
						</div>
					</div>
				</div>
			<div class="modal-footer pl-0 pr-0">
				<div class="col-sm-6">
					<button type="button" class="btn btn-danger legitRipple float-left" data-dismiss="modal">Cancel</button>
				</div>
				<div class="col-sm-6 pr-0">
					<button type="button" class="btn bg-primary legitRipple float-right add-uom-save" data-dismiss="modal">Simpan</button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>