<script type="text/template" id="tmpl-table-productasd">
	<table data-uk-tableproduct="idoutlet:<%= idoutlet %>;idkategori:<%= idkategori %>;statusproduk:<%= statusproduk %> ; stokoption : <%=stokoption%> ; search : <%=search%>; length : <%=length%>" class="table datatable-responsive dataTable no-footer dtr-inline table--card" id="t_product">
		<thead>
			<tr>
				<th></th>
				<th>Nama Produk</th>
				<th>Status Produk</th>
				<th>Kategori</th>
				<th>Stock</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</script>