<script type="text/template" id="tmpl-table-productasd">
	<% _.map( daftarproduk, function( produk ){ %>
		<tr id="<%= produk.idproduk %>" data-produk="<%= encodeURI( JSON.stringify( produk ) ) %>">
			<td class="check">
				<input type="checkbox" class="form-check-input-switchery pilih-produk" data-fouc data-uk-uniform value="<%= produk.idproduk %>">
			</td>
			<td>
				<h6 class="mb-0 font-weight-semibold"><%= produk.namaproduk %></h6>
				<p class="mb-0 text-muted"><%= produk.jumlahvarian %> varian - <%= produk.varian[0].jumlahsubvarian %> subvarian</p>
			</td>
			<td>
				<% if (produk.isfavorit == "1" || produk.isfavoritpelanggan == "1"){%>
					<img src="global_assets/images/icon/icon-favorit.svg">
				<%}%>
				<% if ( produk.ispromokonsinyasi == "1" ){%>
					<img src="global_assets/images/icon/icon-status-diskon.svg">
				<%}%>
			</td>
			<td><%= produk.namakategoriproduk %></td>
			<td><%= produk.jumlahstokproduk %></td>
		</tr>
	<% });%>
</script>